
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

/* Applying styles to the body */
body {
    background-color: #fff; /* White background */
}

/* Creating a grey border line at the top */
.border-line {
    border-top: 3px solid #ccc;
}
